/* Tablet */
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .ham-btn {
    display: block;
  }

  .info {
    flex-direction: column-reverse;
    gap: 28px;
    /* align-items: center; */
  }

  .info_content {
    gap: 24px;
  }

  .carusel,
  .info_image {
    width: 100%;
  }

  .carusel {
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .carusel_title {
    font-size: 30px;
    line-height: 40px; /* 114.286% */
  }

  .carusel_desc {
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 32px; /* 133.333% */
  }
}

/* Laptop */
@media screen and (max-width: 1200px) {
  .nav-list {
    gap: 20px;
  }

  .carusel_title {
    font-size: 50px;
    line-height: 50px; /* 114.286% */
  }

  .carusel_desc {
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 32px; /* 133.333% */
  }
}
