/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: MyRoboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: MyRoboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: MyRoboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
